apiVersion: v1
kind: Service
metadata:
  name: ciudadano-registry-service
  namespace: carpeta-ciudadana
  labels:
    app: ciudadano-registry-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: ciudadano-registry-service